@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Sevillana&display=swap'); 
.landing__container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 8rem;
    
    width: 100vw;
    height: 100vh;
    background: linear-gradient(129.93deg, #55AEC0 0.09%, #003D3E 0.1%, #003339 21.43%, #1F2221 68.35%);
    /* background-image: url(../../assets/vector.png ); */
    overflow: hidden;
}
.landing__content{
    padding-top: 5rem;
}
.landing__container h1{
    font-family: "Quicksand";
    font-size: 4rem;
    color:white;
    font-weight: 400;
    margin-left: 0.8em;
}
img[src="../../assets/vector.png"]{
width: 5rem;
 height: 5rem;
}
.bold_header{
    font-weight: 700; 

}
.dim_header{
    color:#706E6E;
}
.landing__button{
    border: none;
    background:  #ffffff;
    border-radius: 68px;
    margin-top: 2rem;
    color: #000000;
    height: 4rem;
    width: 15rem;
    padding:0.75rem;
    font-size: 25px;
    transform: translateX(20%);
    cursor: pointer;
}

.landing__image{
    height: 32rem;
    width :58rem;
    display: flex;
    padding-top: 4rem;
    flex-direction: row;
    justify-content: flex-end;
    
}
.landing__image img{
    transform: scaleX(-1);
}

