@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Sevillana&display=swap');
.landing__container {
    display: flex;
    align-content: flex-start;
    padding-left: 2rem;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #00393C;
    background-size: cover;
    flex-direction: column;
}
.landing__container h1{
    font-family: QuickSand;
    font-size: 3rem;
    color:white;
    font-weight: 200;
    margin-left: 1.2em;
}
.bold_header{
    font-weight: bolder;   

}
.dim_header{
    color:#706E6E;
}
.landing__button{
    border: none;
    background:  #ffffff;
    border-radius: 68px;
    margin-top: 2rem;
    color: #000000;
    height: 4rem;
    width: 15rem;
    padding:0.75rem;
    font-size: 25px;
    transform: translateX(20%);
}
