.DetailAddTwo_Container{
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(129.93deg, #55AEC0 0.09%, #003D3E 0.1%, #003339 21.43%, #1F2221 68.35%);
    width: 100vw;
    min-height: 100vh;
    /* position: fixed; */
}
.DetailAddTwo_Box{
   
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 67.75rem;
    height: 33.75rem;
    background: rgba(124, 124, 124, 0.75);
    border-radius: 30px;
}
.DetailAddTwo_Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45rem;
    height: 25rem;
}

.Additional_info_heading{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 27rem;
    height: 2rem;
    background: #202322;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 3px;
}
.Additonal_info_content{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 18px;
    text-align: start;
    color: rgba(0, 0, 0, 0.5); 
}
.label_detail2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
input{
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px none #ccc;
    background-color: rgba(124, 124, 124, 0.75);
    
}
.text_detail2 input{
    margin-left: 3rem;
}
.email_detail2 input{
    margin-left: 3.4rem;
}
.upload-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin-top: 2rem;
    
  }
  .btn {
   
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    width: 14rem;
    height: 3rem;
  }

  .upload-btn-wrapper input[type=file] {
    
    opacity: 0;
  }


form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.Button_UploadResume{
    box-sizing: border-box;
    border: 2px solid #E2F8FB;
    width: 200px;
    height: 39px;
    border-radius: 5px;
    background: rgba(124, 124, 124, 0.75);
}
.Button_Submit{
    background: #202322;
    border-radius: 14px;
    width: 127px;
    height: 51px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 2rem;
    border: none;
}