@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300&family=Quicksand&family=Sevillana&display=swap');
.gender-selection-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-size: cover;
   
  }
  
  .gender-selection-wrapper p {
    font-family: 'Poppins';
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
    font-size: 20px;
    width: 30rem;
    padding: 4px;
    border-radius: 13px;
    
    /* margin-left: 16rem; */
    text-align: center;
    color:#fff;
    background-color: #202322;
  }
  
  .gender-selection-wrapper div {
    display: flex;
    align-items: center;
    /* margin-top: 12px;
    padding-top: 1rem; */
  }
  
  input[type='checkbox'] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #211f1f;
    outline: none;
    margin-right: 10px;
    margin-left: 12rem;
  }
  
  input[type='checkbox']:checked {
    background-color: #00393C;
    border-color: black;
    opacity: 0.75;
  }
  
  input[type='checkbox']:checked::before {
    content: '\2713';
    display: block;
    width: 12px;
    height: 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin: 4px;
  }

 label{
  font-family: 'Poppins';
    font-size: 20px;
    color:black;
 }  