@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
.persolityq_container{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(129.93deg, #55AEC0 0.09%, #003D3E 0.1%, #003339 21.43%, #1F2221 68.35%);
    background-image: url("../../assets/bg.png");
    background-size: cover;

}

.questions_container {
    
   
    color: #ffffff;
  }
  
.questions_container h1{
    color: #ffffff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 2rem;
    text-align: center;
    /* margin-left: 5rem;
    margin-right: 5rem;
     */
     padding-left: 3rem;
     padding-right: 5rem;
}
  .radio_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding-top: 3rem;
    padding-left: 7rem;
    font-style: oblique;
  }
  
.radio_container label {
    display: block;
    padding: 2rem;
    appearance: auto;
  }
  
.radio_questions {
    display: flex;
    align-items: center;
    color: #ffffff;

  }

input[type="radio"] {
   
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #000000;
  border-radius: 50%;
  outline: none;
  transition: all 0.2s ease-in-out;
  }  

.radio_optLabel{
  display: flex;
  flex-direction: row;
  width: 65rem;
  justify-content: space-between;
  color: rgba(241, 255, 240, 0.841);
  font-family:sans-serif;
  font-size: 1.3rem;
  font-weight: 100;
}
.strongly__label{
  padding-left: 2rem;
}
.agree__label {
  padding-right: 7rem;
}
.personalityQ_submit_btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 21rem;
  height: 3rem;
  font-family: 'Montserrat', sans-serif;   
  font-style: normal;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 5rem;
  text-align: center;
  color:#dcdcdc;
  
  background: #003A1E;
  border: none;
  padding: .6rem;
}
.personalityQ_submit_btn:hover{
  color:#ffffff;
  background: #01592e;
  
}

.details__add {
  font-family: 'Poppins';
  font-size: 20px;
  color:white;
}
