@import url('https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&family=Sevillana&display=swap');
.resume__container{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 1rem;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(129.93deg, #55AEC0 0.09%, #003D3E 0.1%, #003339 21.43%, #1F2221 68.35%);;
   
    background-size: cover;
}
.resume__contents{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background: #D9D9D9;
    background-size: cover;
    width:60rem;
    height:30rem;

}
.resume__contents h2{
    font-family: 'Inter';
    margin-top: 5rem;
    font-size:3rem;
    width:50rem;
    height:4rem;
    font-weight:normal;
    padding-left: 4.75rem;
}
.resume__contents button{
    color: #ffffff;
    width:20rem;
    height:5rem;
    margin-top: 4rem;
    font-family: 'Inter';
    border-radius: 0rem;
    font-size: 1.5rem;
    background-color: #202322;
    padding:1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.resume__container button:hover{
    color: #706e6e;
}
