*{
    margin: 0px;
<<<<<<< HEAD
    padding: 0px;
   
=======
    padding: 0px;  
>>>>>>> 8bfbf30f15924e7dcb038ef965c25d7ac8a93408
}
.App{
    overflow: hidden;
    min-height: 100vh;
    max-width: 100vw;
<<<<<<< HEAD
    background: #1C3848;
  }
=======
    background: #1C3848;
}
>>>>>>> 8bfbf30f15924e7dcb038ef965c25d7ac8a93408
